<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopSave</title>
</head>
<body>
<form action="/member/shopSave" method="post">
    아이디: <input type="text" name="shopMemberId"> <br>
    비밀번호: <input type="password" name="shopMemberPassword"> <br>
    매장명: <input type="text" name="shopName"> <br>
    매장위치: <input type="text" name="shopLocation"> <br>
    운영일자: <input type="text" name="shopOperationDate"> <br>
    시작시간: <input type="time" name="shopOpenTime"> <br>
    종료시간: <input type="time" name="shopCloseTime"> <br>
    대표자명: <input type="text" name="ownerName"> <br>

    <input type="submit" value="상점 파트너 회원가입">
</form>
</body>
</html>